<!-- <label>Server Name</label>
<input type="text"
class="form-control"
(input)="onUpdateServerName($event)"> -->
<input type="text"
class="form-control"
[(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->
<button class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ ServerCreationStatus }}</p> -->
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>
<ng-template #noServer><p>No server was created!</p></ng-template>
<app-server *ngFor="let server of servers"></app-server>


<!-- {{ ServerCreationStatus }} => stiamo utilizzado la "String Interpolation" per stampare a video una stringa che può essere modificata dinamicamente -->
<!-- [disabled]="!allowNewServer" => stiamo usando la "Property Binding" per collegare dinamicamente alcune proprietà -->
<!-- (click)="onCreateServer()" => stiamo usando l' "Event Binding" per affidare al click di un btn un particolare evento -->
<!-- (input)="onUpdateServerName($event)" => andiamo a passare ed utilizzare dei dati attraverso l'Event Binding -->
<!-- [(ngModel)]="serverName" => Binding bidirezionale -->
<!--  *ngIf="serverCreated => andiamo a creare l'ngIf - l'asterisco all'inizio' indica che si tratta di una direttiva strutturale, che modifica realmente il DOM -->
<!-- <ng-template #noServer> => direttiva locale utile a creare l'else (che va richiamato nella scrittura precedente aggiungendo "; else noServer") -->
<!-- *ngFor="let server of servers" => struttura simile al foreach, let ed of parole chiavi che significano "variabile temporanea" la prima e "del" la seconda  -->
